.upperNav{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 999;
    background-color: rgb(27, 27, 27);
    border-radius: 10px 10px 0 0 ;
    .leftUpperNav{
        width: 50%;
        margin: 0 10px;
        height: 100%;
        
        ul{
            height: 100%;
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: flex-start;
            align-items: center;
            li{
                height: 35px;
                width: 35px;
                background-color: rgb(75, 71, 71);
                margin: 0 10px; 
                align-items: center;
                border-radius: 50%;
                padding: 5px;
            }
            li:hover{
                background-color: rgb(31, 30, 30);
            }
        }
    }
    .rightUpperNav{
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        ul{
            height: 100%;
            width: 50%;
            display: flex;
            list-style: none;
            gap: 10px;
            justify-content: center;
            align-items: center;
            li{
                width: 100px;
                height: 40px;
                /* background-color: white;      */
                text-align: center;
                border-radius: 20px;
                
                a{
                    text-decoration: none;
                    line-height: 40px;
                    color: rgb(119, 116, 116);
                    font-weight: 700;
                }
                a:hover{
                    color: white;
                    font-weight: 800;
                }
            }
            #loginBtn{
                background-color: white;
                a{
                    
                color: black;
                }
            }

        }
    }
    
}